header {
  height: 100%;
  padding-top: 7rem;
  overflow: hidden;
}
.name{
  font-size: 4rem;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  bottom: 1rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.scroll__down {
  padding: 0px 0px 57px 43px;
  letter-spacing: 3px;
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px){
  header {
    height: 68vh;
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px){
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}

.social-icon {
  font-size: 28px;
}


@media (min-width: 768px) {
  .social-icon {
    font-size: 38px;
  }
}


@media (min-width: 1200px) {
  .social-icon {
    font-size: 39px;
  }
}


.scroll__down {
  font-size: 18px;
}


@media (min-width: 768px) {
  .scroll__down {
    font-size: 24px;
  }
}


@media (min-width: 1200px) {
  .scroll__down {
    font-size: 27px;
  }
}



.header__text {
  font-size: 14px;
}

.header__title {
  font-size: 28px;
}


@media (min-width: 768px) {
  .header__text {
    font-size: 18px;
  }

  .header__title {
    font-size: 36px;
  }
}


@media (min-width: 1200px) {
  .header__text {
    font-size: 24px;
  }

  .header__title {
    font-size: 48px;
  }
}
